@font-face {
    font-family: 'Impostograph';
    src: local('Impostograph'), url(../public/Impostograph-Regular.ttf) format('truetype');
}

body {
    font-family: 'Impostograph';
}

.rowGroupHeader {
    font-family: 'Impostograph';
    font-size: 40px;
    margin-top: 0.5cm;
}